<h3>
    <i class="fas fa-meteor"></i> StoryHub
</h3>

<div class="section">
    <p class="lead">
        A place to create your public and private stories <br>
        and see stories of other people.
    </p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>